{
  "$schema": "https://json.schemastore.org/swcrc.json",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2020",
    "baseUrl": "./",
    "paths": {
      "~/*": ["./src/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
